.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: white;
  text-decoration: none;
  margin-right: 18px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 0;
  }
}

.footer__link:last-child{
  margin-right: 0;
  margin-bottom: 0;
}

.footer__link:hover {
  opacity: 0.8;
  transition: opacity 1s;
}