.cover {
  background-image: url(../../images/cover__background.png);
  background-size: cover;
  background-position: center;
  width: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 33px 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .cover {
    width: 560px;
    padding: 115px 104px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    padding: 195px 232px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    padding: 245px 312px;
  }
}