.place__link {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  color: white;
  transition: opacity 1s linear;
}

.place__link:hover {
  opacity: 0.8;
}