.place__url-heading {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}